.MainNav {
  background-color: var(--dark-gray);
  height: 50px;
}

.MainNav a,
.MainNav button {
  color:white;
}

.ProfileControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileControls-Item {
  margin-left: 0.75rem;
}

.AppHeader-logo {
  transform: rotate(180deg);
}

.WhiteIcon {
  fill: white;
}

.Avatar {
  max-width: 30px;
  border-radius: 15px;
}

.SearchWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.Btn {
  border: 1px solid var(--dark-gray);
}

.BtnAlt {
  border: 1px solid white;
}

.Tags li {
  display: inline-block;
  margin: 0.25rem 0.25rem 0.25rem 0;
}

.Pill {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: rgb(4 120 87);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
}
