.MainNav {
  background-color: var(--dark-gray);
  height: 50px;
}

.MainNav a {
  color:white;
}

.ProfileControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppHeader-logo {
  transform: rotate(180deg);
}

.WhiteIcon {
  fill: white;
}

.Avatar {
  max-width: 30px;
  border-radius: 15px;
}

.SearchWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

button.Btn {
  border: 1px solid var(--dark-gray);
}

button.BtnAlt {
  border: 1px solid white;
}

button.BtnPrimary {
  background-color: rgb(4 120 87);
  color: white;
}

button.BtnPrimary:hover {
  background-color: rgb(3 100 72);
}

.Tags li {
  display: inline-block;
  margin: 0.25rem 0.25rem 0.25rem 0;
}

.Pill {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: rgb(4 120 87);
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

.Pill:hover {
  background-color: rgb(3 100 72);
  border-color: var(--dark-gray);
  border-bottom-width: 2px;
}
