@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #161b22;
  --light-gray: rgb(245 245 245);
  --dark-emerald: #0f766e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 0.15rem 0.3rem;
  background-color: #fff;
  color: var(--dark-gray);
}

button:hover {
  background-color: var(--light-gray);
  transition: background 100ms ease-in-out;
}

input {
  height: 30px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  padding: 0 0.5rem;
}

a {
  color: var(--dark-emerald);
  border-bottom: 1px solid var(--dark-emerald);
}

a:hover {
  border-bottom-width: 2px;
}

h2 {
  font-size: 1.25rem;
}
